h1 {
	font-family: "Fira Sans";
	font-weight: bolder;
}

*,
:after,
:before {
	box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	display: block;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.login-wrap {
	background: #800080;
	border-radius: 1.3rem;
	box-shadow: 0 12px 15px 0 #00000057, 0 17px 50px 0 #00000036;
	margin: auto;
	min-height: 610px;
	max-width: 615px;
	position: relative;
	width: 100%;
}

.heading {
	padding: 0.3em;
	text-align: center;
}

.login {
	background: #940094;
	border-radius: 0.5rem;
	height: 100%;
	padding: 55px 34px 21px 34px;
	position: absolute;
	width: 100%;
}

.login .signin-form,
.login .signup-form {
	backface-visibility: hidden;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotateY(180deg);
	transition: all 0.3s linear;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotateY(180deg);
}

.login .sign-in,
.login .sign-up,
.login-form .wrapper .check {
	display: none;
}

.login .tab,
.login-form .wrapper .label,
.login-form .wrapper .button {
	text-align: center;
	text-transform: uppercase;
}

.login .tab {
	border-bottom: 2px solid transparent;
	display: inline-block;
	font-size: 21px;
	padding-bottom: 5px;
	margin: 0 13px 8px 0;
	margin-right: 13px;
}

.login .sign-in:checked + .tab,
.login .sign-up:checked + .tab {
	border-color: #1161ee;
	border-width: 0.2rem;
	color: #ffffff;
}

.login-form {
	-webkit-perspective: 987px;
	-webkit-transform-style: preserve-3d;
	min-height: 377px;
	position: relative;
	perspective: 987px;
	transform-style: preserve-3d;
}

.login-form .wrapper {
	margin-bottom: 13px;
}

.login-form .wrapper .label,
.login-form .wrapper .input,
.login-form .wrapper .button {
	color: #ffffff;
	display: block;
	width: 100%;
}

.login-form .wrapper .input,
.login-form .wrapper .button {
	background: #800080;
	border: none;
	border-radius: 0.8em;
	font-size: 1em;
	padding: 13px 21px;
}

.login-form .wrapper .label {
	color: #dbdbdb;
	font-size: 1em;
	padding-bottom: 0.2rem;
}

.login-form .wrapper .button {
	background: #1161ee;
	font-size: 1rem;
}

.login-form .wrapper .button:hover {
	background: #2a77fb;
}

.login-form .wrapper label .icon {
	background: #ffffff80;
	border-radius: 2px;
	display: inline-block;
	height: 15px;
	position: relative;
	width: 15px;
}

span.icon {
	margin-right: 0.5rem;
}

.login-form .wrapper label .icon:before,
.login-form .wrapper label .icon:after {
	background: #ffffff;
	content: "";
	height: 2px;
	position: absolute;
	transition: all 0.2s ease-in-out 0s;
	width: 13px;
}

.login-form .wrapper label .icon:before {
	-webkit-transform: scale(0) rotate(0);
	bottom: 5px;
	left: 3px;
	transform: scale(0) rotate(0);
	width: 5px;
}

.login-form .wrapper label .icon:after {
	-webkit-transform: scale(0) rotate(0);
	right: 0;
	top: 5px;
	transform: scale(0) rotate(0);
}

.login-form .wrapper .check:checked + label {
	color: #ffffff;
}

.login-form .wrapper .check:checked + label .icon {
	background: #1161ee;
}

.login-form .wrapper .check:checked + label .icon:before {
	-webkit-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
}

.login-form .wrapper .check:checked + label .icon:after {
	-webkit-transform: scale(1) rotate(-45deg);
	transform: scale(1) rotate(-45deg);
}

.login .sign-in:checked + .tab + .sign-up + .tab + .login-form .signin-form {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

.login .sign-up:checked + .tab + .login-form .signup-form {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

.hr {
	background: #ffffff80;
	height: 2px;
	margin: 34px 0 34px 0;
}

.footer {
	text-align: center;
}

.login-link {
	font-size: 1.1rem;
}

div.form-wrap {
	grid-column: 1 / span 5;
	grid-row: 2 / span 3;
	text-align: center;
}

.x-cls-btn {
	background: none;
	border: none;
	color: #ffffff;
	font-size: 3rem;
	font-weight: 600;
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}

.x-cls-btn:hover {
	color: #2a77fb;
}

.send-btn {
	background: #1161ee;
	border: none;
	border-radius: 0.8em;
	color: #ffffff;
	font-size: 1em;
	padding: 13px 21px;
	text-transform: uppercase;
	width: 95%;
}

.input-label {
	font-size: 1.1rem;
	font-weight: 600;
}

#codeInput.input {
	background: #940094;
	border: none;
	border-radius: 0.8em;
	font-size: 1em;
	margin-bottom: 1.5rem;
	margin-top: 0.3rem;
	padding: 13px 21px;
	width: 95%;
}
