@font-face {
    font-family: 'allerdisplay';
    src: url(/ui/assets/font/AllerDisplay.ttf) format('truetype');
}

body{
    background: #ffffff;
}

.container {
    padding: 1.3rem;
}

input{
        width: 90%;
        border: 2px solid #afafaf;
        padding: 10px;
        margin-bottom:10px;
        border-radius: 5px;
}

h1,
h2,
p{
    text-align:center;
}

h1 {
    font-family: allerdisplay;
    font-size: 34px;
}

h2 {
    font-size: 21px;
}

a {
    text-decoration: none;
}


.btn {
    background: #000;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    margin: 0 auto;
}

.row {
    padding: 1rem;
    text-align: center;
}

