body,
html {
    background: url(../assets/bg.jpg) no-repeat center;
    background-size: cover;
    color: #fafafa;
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    margin: .5rem auto;
    overflow: hidden;
}

.landing-wrap {
    background: #800080;
    border-radius: 1.3rem;
    box-shadow: 0 12px 15px 0 #00000057, 0 17px 50px 0 #00000036;
    display: grid;
    grid-template-columns: 123px 1fr 1fr 1fr 123px;
    grid-template-rows: 123px 1fr 1fr 123px 123px;
    margin: auto;
    min-height: 699px;
    max-width: 615px;
    position: relative;
    width: 100%;
}

.grid-item {
    max-width: 123px;
}

.map-overlay {
    align-self: start;
    grid-column: 1 / span 5;
    grid-row: 1 / span 5;
    justify-self: center;
    max-width: 100%;

}

#userAvatar {
    align-self: start;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    z-index: 10;
}

.user-btn {
    background: none;
    border: none;
    display: contents;
}

.btn {
    background: none;
    border: none;
}

.btn:hover {
    background: #00000021;
    border-radius: 1.8rem;
}

.btn:active {
    display: none;
}

#destinationSlider {
    align-self: end;
    background: #b302b3;
    border-radius: .8rem;
    box-shadow: 5px 0 8px 0 #00000057, 5px 0 8px 0 #00000036;
    grid-column: 1 / span 5;
    grid-row: 2 / span 5;
    height: 100%;
    min-width: 100%;
    transition: .5s;
    z-index: 1;
}


a.closebtn {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin-left: 50px;
    position: absolute;
    right: 13px;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.destination-input {
    display: contents;
}

input#locationInput.input {
    background-color: #950095ef;
    border: transparent;
    border-radius: .8rem;
    color: #ffffff;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin: auto;
    padding: .8rem;
    text-align: center;
    width: 91%;
}

#locationList {
    border-radius: .8rem;
    font-size: 1.1rem;
    margin: auto;
    padding: .8rem;
    width: 95%;

}

ul {
    padding-left: 0;
}

li {
    background-color: #ffffffdf;
    border-radius: .8rem;
    display: block;
    font-weight: 500;
    margin: .8rem 0 .8rem 0;
    padding: .8rem;
    list-style-type: none;
}

img {
    width: 100%;
}

img.sample-map {
    border-radius: 1rem;
}

img.avatar {
    background-color: #ffffff;
    border-color: #800080;
    border-radius: 50%;
    border-style: solid;
    box-shadow: 0 5px 8px 0 #00000057, 0 5px 8px 0 #00000036;
    margin: .8rem;
    width: 89%;
}

img.pin-location {
    width: initial;
}

a {
    color: #950095ef;
    text-decoration: none;
}

h2,
h3,
p {
    text-align: center;
}

h2.greeting-heading {
    color: #ffffffec;
    margin-top: 13px;
    margin-bottom: 8px;
}